@media screen and (min-width: 1920px) and (max-width: 1980px) {
    .documentation button{
        margin-top: 10%;
        font-size: 30px;
        border-radius: 10px;
        color: #4a1f1f;
        background-color: #a3fafb;
        position: relative;
        margin-bottom: 10%;
        left: 32%;
    }
}
@media screen and (min-width: 370px) and (max-width: 780px) {
    .chooseColor {
        display: flex;
    margin-top: 10px;
    margin-left: 75%;
    }
    .ChooseNameWhite {
        padding-top: 5px;
        color: black;
        margin-left: 66%;
    }
    .ChooseNameBlack {
        padding-top: 5px;
        color: #fff;
        margin-left: 66%;
    }
}