@media screen and (min-width: 1920px) and (max-width: 1980px) {
    .documentation button{
        margin-top: 10%;
        font-size: 30px;
        border-radius: 10px;
        color: #4a1f1f;
        background-color: #a3fafb;
        position: relative;
        margin-bottom: 10%;
        left: 32%;
    }
}
@media screen and (min-width: 370px) and (max-width: 850px) {
    .chooseColor {
        display: flex;
    margin-top: 10px;
    margin-left: 75%;
    }
    .ChooseNameWhite {
        padding-top: 5px;
        color: black;
        margin-left: 66%;
    }
    .ChooseNameBlack {
        padding-top: 5px;
        color: #fff;
        margin-left: 66%;
    }
    .helloBtnWhite {
        border: none;
        background-color: #5995ff;
        color: #fff;
        font-size: 45px;
        border-radius: 6px;
        padding: 10px 10px 10px 10px;
        position: relative;
    }
    .calculating__choose_medium {
        width: 100%;
        justify-content: space-between;
        margin: 30px auto 0 auto;
    }
    .calculating__choose-item {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 50px;
        padding: 0 10px;
        background: #fff;
        box-shadow: 0px 4px 15px rgb(0 0 0 / 20%);
        border: none;
        text-align: center;
        font-size: 14px;
        cursor: pointer;
        outline: none;
        transition: 0.3s all;
    }
    .calculating__choose_big {
        width: 100%;
        justify-content: space-between;
        margin: 30px auto 0 auto;
    }
    .calculating__total {
        width: 95%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .calculating__choose-item_active {
        color: #fff;
        background-color: #5995ff;
    }
    .inputForm {
        font-size: 30px;
        width: 335px;
        background-color: #edeef0;
        padding-left: 10px;
        padding-right: 10px;
        border-radius: 6px;
        color: black;
        border: none;
        margin: 5px;
    }
    .helloBtnWhite2{
        border: none;
        background-color: #5995ff;
        color: #fff;
        font-size: 45px;
        border-radius: 6px;
        padding: 10px 10px 10px 10px;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-13%, -50%);
        padding: 10px;
        border-radius:6px;
    }
    .inputSubmit {
        font-size: 22px;
        width: 45%;
        background-color: #edeef0;
        padding-left: 10px;
        padding-right: 10px;
        border-radius: 6px;
        color: black;
        border: none;
    }
}