body{
    background-color: #edeef0;
}
.blackDesign{
    text-align: center;
    position: relative;
    top: 40%;
}
.helloBtnWhite2{
    border: none;
    background-color: #5995ff;
    color: #fff;
    font-size: 45px;
    border-radius: 6px;
    padding: 10px 10px 10px 10px;
}
.helloBtnWhite{
    border: none;
    background-color: #5995ff;
    color: #fff;
    font-size: 45px;
    border-radius: 6px;
    padding: 10px 10px 10px 10px;
}
.helloBtnBlack{
    border: none;
    background-color: #333336;
    color: #fff;
    font-size: 45px;
    border-radius: 6px;
    padding: 10px 10px 10px 10px;
}
.infoHelloBlack{
    color: #fff;
    font-size: 45px;
}
.infoHelloWhite{
    color: black;
    font-size: 45px;
}
.infoHelloAnimation{
    animation-name: infoHello;
    animation-duration: 4s;
}
.Choose{
    border: #222226;
}
.chooseColor{
    display: flex;
    margin-top: 10px;
    margin-left: 92%;
}
.ChooseNameWhite{
    padding-top: 5px;
    color: black;
    margin-left: 89%;
}
.ChooseNameBlack{
    padding-top: 5px;
    margin-left: 89%;
    color: #fff;
}

.white{
    background-color:white;
    width: 30px;
    height: 30px;
    border-radius: 20px;

}
.black{
    background-color: black;
    margin-right: 1%;
    width: 30px;
    height: 30px;
    border-radius: 20px;

}
.whiteTheme{
    background-color:#edeef0;
}
.blackTheme{
    background-color:#222226;
}
.DesingAnimation{
    animation-name: Desing;
    animation-duration: 4s;
}
.nameWhite{
    font-size: 23px;
    color: black;
}
.nameBlack{
    font-size: 23px;
    color: #fff;
}
.demoName{
    height: 78px;
}
.href{
     text-decoration: none;
    color: white;
}
@keyframes infoHello {
    from{
        opacity:0;
    }
    to{
        opacity: 1;
    }
}
@keyframes Desing {
    from{
        opacity:0;
    }
    to{
        opacity:1;
    }

}
/*calc*/
.helloCalories {
    position: absolute;
    top: 50%;
    left: 27%;
}
.calculating {
    padding: 50px 0;
    display: none;
}
.calculating .title {
    text-align: center;
}
.calculating__field {
    width: 100%;
    margin-top: 50px;
    background: #edeef0;;
    padding: 30px 0 40px 0;
}
.calculating__subtitle {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    margin-top: 30px;
}
.calculating__subtitle:first-child {
    margin-top: 0;
}
.calculating #gender:after {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: block;
    width: 16px;
    height: 16px;
}
.calculating__choose {
    position: relative;
    display: flex;
    margin-top: 30px;
    justify-content: center;
}
.calculating__choose-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 170px;
    height: 50px;
    padding: 0 10px;
    background: #fff;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
    border: none;
    text-align: center;
    font-size: 14px;
    cursor: pointer;
    outline: none;
    transition: 0.3s all;
}
.calculating__choose-item_active {
    color: #fff;
    background-color: #5995ff;
}
.calculating__choose_medium {
    width: 743px;
    justify-content: space-between;
    margin: 30px auto 0 auto;
}
.calculating__choose_big {
    width: 930px;
    justify-content: space-between;
    margin: 30px auto 0 auto;
}
.calculating__choose_big .calculating__choose-item {
    width: 200px;
}
.calculating__divider {
    width: 490px;
    height: 1px;
    margin: 40px auto;
    background-color: rgba(0, 0, 0, .2);
}
.calculating__total {
    width: 490px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.calculating__result {
    font-size: 18px;
    font-weight: bold;
}
.calculating__result span {
    font-size: 42px;
}
.divInput{
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    border-radius:6px;
}
.inputForm{
    font-size: 30px;
    width: 51%;
    background-color:#edeef0;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 6px;
    color: black;
    border: 0.6px solid #edeef0;
    margin: 5px;
}
::placeholder{
    color:black;
}
.inputSubmit{
    font-size: 30px;
    width: 45%;
    background-color:#edeef0;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 6px;
    color: black;
    border: none;
}