.blockCard {

    background: rgb(238,174,202);
    background: linear-gradient(45deg, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    width: 550px;
    margin-top: 1%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border: none;
}
@media (max-width: 399.99px) {
	.blockCard {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 0;
    }
}